

.about-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 400px;
    color: #367493;
    margin-bottom: 100px;
}

.mypic-illustration-container {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.about-me-container {
    width: 60%;
    height: 100%;
}





.mypic-illustration{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.picture-frame {
    display: flex;
    border-radius: 15px;
    height: 55%;
    width: 40%;
    box-shadow: -10px -10px 0px 0px #deb887;
    background-color: #609374;
    justify-content: center;
    align-items: center;
    transform: rotate(10deg);
    margin-left: 20px;
}

.ayoub-about-img {
    width:90%;
    height:90%;
    
}

.about-me {
    width: 85%;
    margin-left: 30px;
}

.about-me h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 40px;
}









.bio-details-div {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-left: 40px;
}




.bio-div {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 80%;
}

.picture-div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}





.bio-details-div h3{
    font-size: 3vw;
    font-weight: bold;
    margin: 0;
}

.bio-details-div p{
    font-size: 1.2vw;
}


@media screen and (max-width: 1140px) {

    .about-page {
        flex-direction: column;
    }
    .mypic-illustration-container {
        width: 100%;
        height: 450px;
        justify-content: center;
    }
    
    .about-me-container {
        width: 100%;
        height: auto;
    }
    .mypic-illustration{
        height: 100%;
        width: 50%;
    }






    .bio-div {
        flex-direction: column;
    }
    .picture-div {
        display: none;
    }

    .bio-details-div h3{
        font-size: 2.2vw;
    }
    
    .bio-details-div p{
        font-size: 1.5vw;
    }
    
    
}





@media screen and (max-width: 600px) {
    .mypic-illustration{
        height: 300px;
        width: 100%;
    }
    .about-me h3{
        font-size: 26px;
    }
    .mypic-illustration-container {
        align-items: flex-start;
        height: 300px;
    }






    .bio-details-div{
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .bio-details-div h3{
        font-size: 5vw;
        margin-left: 0px;
    }
    
    .bio-details-div p{
        font-size: 2.8vw;
    }
}


