


.menu-badge-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.badge-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  font-family: "Akaya Telivigala";
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  color: #86acbe;
}

.badge-div:active {
  background-color: #9e7474;
  border-radius: 6px;
  
}


.badge-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
}

.badge-title-div {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;

}





.menu-options-div {
  width: 100%;
  height: 80%;
  flex: 5;
}



.menu-my-info-div {
  display: none;
}



.menu-overlay-div {
  display: none;
}





@media screen and (max-width: 600px) {

    .menu-options-div {
      display: none;
    }

    .menu-badge-logo-div {
      width: 90%;
      height: 100%;
    }
    
    .menu-my-info-div {
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 100%;
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;
    }
    
    .menu-my-name-div {
      flex: 4;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 20px;
    }
   
    .menu-my-title-div {
      flex: 3;
      display: flex;
      justify-content: center;
      font-size: clamp(11px, 10px, 16px);
    }
                    

    .menu-my-socials-div {
      flex: 5;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .menu-social-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: inherit;
      height: 40px;
      width: 40px;
      font-size: 25px;
      border-radius: 50%;
    }

    .menu-social-btn:hover {
      background-color: #8892b0;
    }
  

    .menu-overlay-div {
      display: flex;
      flex-direction: column;
      width: 10%;
      height: 100%;
      background-color: inherit;
    }
    

    .badge-div {
      width: 45%;
      height: 60%;
      flex-direction: row;
      padding-bottom: none;
    }
    
    .badge-logo-div {
      flex: 2;
    }

    .badge-title-div {
      justify-content: flex-start;
    }

  }


  
.menu-items-div{
  height: 100%;
  width: 100%;
}


.menu-toggler-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  transition: 0.3s;
  background-color:inherit;
}
  
  
.menu-toggler-btn:hover {
  opacity: 0.6;
}

.menu-toggler-btn:focus {
  outline: none;
}
  
