



.contacts {
    display: flex;
    flex-direction: column;
    background-color: #a6afb6;
    color:#52616b;
    width:100%;
    align-items: center;
    justify-content: center;
}


.contact-option-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;
}

.contact-option-div:hover a{
    text-decoration: underline;
}


.contact-icon-div {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.contact-icon-div:hover {
    opacity: 0.6;
}

.contact-link-div {
    display: flex;
    align-items: center;
    padding-left: 4%;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}




