
.home {
    display: flex;
    flex-direction: row;
    height:100vh;
    width:100%;
    min-height: 650px;
    color: white;
    background-size: cover;
    background-position: left;
}

.bio-intro-section {
    flex:3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-illustration-section {
    flex: 2;
    display: flex;
}

.bio-illustration-section-mobile {
    display: none;
}


.bio-intro-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 85%;
    overflow: hidden;
    font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

.bio-intro-div {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    overflow: hidden;
    font-size: 1.2vw;
}


.text-I-div {
    color: #525252;
    flex: 1;
}

.text-II-div {
    flex: 4;
    display: flex;
    color: #525252;
}


.text-II-div span{
    font-weight: bold;
    font-size: 5vw;
    margin-right: 15px;
    margin-bottom: 1vw;
    color: #855b7c;
}

.text-III-div {    
    flex: 2;
    font-weight: bold;
    font-size:1.7vw;
    margin-bottom: 2vw;
    color: #525252;
}

.text-IV-div {
    flex: 1;
    color: #646e64;
    margin-bottom: 1.5vw;
}




.contact-button-div {
    display: flex;
    align-items: center;
    height: 7vw;
}

.contact-me-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    height: 38%;
    width: 110px;
    min-width: 100px;
    border-radius: 5px;
    background-color: #855b7c;
    color: #cacaca;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;

}

.contact-me-btn:hover {
    background-color: #b38838; 
}

.contact-me-btn:active {
    background-color: #818181; 
    color: #cacaca;
}

.contact-me-btn:focus {
    outline: none;
}


.social-media-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    height: 4.5vw;
    width: 100%;
    color: #b38838;
    border-top: 1px solid #b38838;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    height: 100%;
    width: 50px;
    font-size: 25px;
    border-radius: 50%;
}

.social-btn:hover {
    background-color: #8892b0;
    color: #cacaca;
}







@media screen and (max-width: 1400px) {
    .brief-bio-wrapper {
        width: 50%;
    }
}


@media screen and (max-width: 1140px) {
    .brief-bio-wrapper {
        width: 60%;
    }
    .home {
        flex-direction: column;
    }
    .bio-intro-div {
        font-size: 1.7vw;
    }
    
    .text-II-div span{
        font-size: 8vw;
    }    
    .text-III-div {
        font-size: 2.7vw;
    }
    .contact-button-div {
        height: 10vw;
    }
    .bio-illustration-section {
        display: none;
    }
    
    .bio-illustration-section-mobile {
        display: flex;
        height: 45vw;
    }
    
}

@media screen and (max-width: 970px) {
    .brief-bio-wrapper {
        width: 80%;
        margin-left: 0px;
        align-items: center;
    }
}



@media screen and (max-width: 600px) {
    .home {
        flex-direction: column;
        
    }
    .bio-intro-section {
        flex:1;
    }
    
    .bio-illustration-section {
        flex: 1;
    }
    .bio-illustration-section-mobile {
        display: flex;
        height: 80vw;
    }
    .bio-intro-wrapper {
        width: 98%;
    }
    .bio-intro-div {
        font-size: 2.8vw;
    }

    .text-II-div span{
        font-size: 12vw;
    }    
    .text-III-div {
        font-size: 4vw;
    }
    .contact-button-div {
        height: 25vw;
    }
    .social-media-div {
        height: 11vw;
    }
}






















.section-one-div {    
    display: flex;
    flex-direction: column;
}

.section-two-div {
    display: flex;
    flex: 2;
    flex-direction: column;
}



.call-to-action-div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
}




.brief-bio-logo-div {
    display: flex;
    flex: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




    




.intro-div {
    display: flex;
    flex:3;
    padding-left: px;
    border-radius: 5%;
    font-size:20px;
    flex-direction: column;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.intro-div  p{
    color: darkorchid;
    font-size:clamp(14px,5vw,16px);
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}


.tittle-div {
    display: flex;
    flex: 15;
    flex-direction: column;
    justify-content: center;
}

.tittle-div h1{
    font-size: clamp(25px, 4vw, 50px);
    margin:0;
    color:#ccd6f6;
}

.tittle-div p{
    font-size:clamp(10px,1.1vw,20px);
    margin:0;
    line-height: 0px;
    color:#8892b0;
    font-weight: bold;
}

.break-div {
    display:flex;
    flex:1;
    flex-direction:column;
}


.intro-logo-div {
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    flex:1;
}

.intro-logo-div img{
    object-fit: contain;
    width: 100%;
}




.social-icons-div { 
    display: flex;
    flex-direction: row;
}



