


.main-menu {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: #fffef2;
}


.menu-item:hover {
    background-color: #e6d875;
    color:#22413b ;
}

.menu-item {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
}

.item-icon-div {
    font-size: 1.5rem;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-left: 5px;
}

.item-name-div {
    font-size: 1.1rem;
    flex: 3;
    display: flex;
    color: inherit;
    align-items: center;
    padding-left: 10;
}

.item-name-div h6 {
    margin: 0;
    text-transform: capitalize;
}
