

.about {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 500px;
    color: black;
}


.about-text-div {
    width: 80%;
    height: 80%;
    color: #333;
    background-color: #f0f0f0;
    padding: 20px;
    font-family:  "Roboto",sans-serif;
    font-size:clamp(10px, 1.5vw, 18px );
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    box-shadow: 0px 0px 20px 2px #bebebe;
}