



.pages-container-div {
    display: block;
    height: 100%;
    width: 100%;
    flex-direction: column;
}



.page {    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url("../assets/bg.png");
    background-repeat: repeat;
}


.title-div {
    flex: 4;
    padding-left: 5%;
    font-size: 0.9rem;
}

.collapse-icon-div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: inherit;
}




.page-body{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 4%;
    padding-bottom: 2%;
    height: 100%;
}



.home-page-header {
    display: none;
}

.about-page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 95%;
    align-self: center;
    background-color: #52616b;
    color:#fffef2;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #919090 inset, #070707 0px -3px 10px inset;
}

.experience-page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 95%;
    align-self: center;
    background-color: #52616b;
    color:#fffef2;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #919090 inset, #070707 0px -3px 10px inset;

}

.projects-page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 95%;
    align-self: center;
    background-color: #52616b;
    color:#fffef2;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #919090 inset, #070707 0px -3px 10px inset;

}

.skills-page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 95%;
    align-self: center;
    background-color: #52616b;
    color:#fffef2;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #919090 inset, #070707 0px -3px 10px inset;
}

.education-page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 95%;
    align-self: center;
    background-color: #52616b;
    color:#fffef2;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #919090 inset, #070707 0px -3px 10px inset;

}

.contact-page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 95%;
    align-self: center;
    background-color: #52616b;
    color:#fffef2;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #919090 inset, #070707 0px -3px 10px inset;
}

.blog-page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 95%;
    align-self: center;
    background-color: #52616b;
    color:#fffef2;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #919090 inset, #070707 0px -3px 10px inset;
}

.resume-page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 80px;
    width: 95%;
    align-self: center;
    background-color: #52616b;
    color:#fffef2;
    border-radius: 15px;
    box-shadow: 0px 3px 10px #919090 inset, #070707 0px -3px 10px inset;
}
