/* 
 // Unify coloring for the theme */
.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 390px;
    background-color: #c3c3c3;
    width: 100%;
}


.timeline-container {
    width: 85%;
    height: auto;
    margin-bottom:50px;
    margin-top: 50px;
}

.timeline-item-container-even, .timeline-item-container-odd {
    display: flex;
    height: auto;
}

.timeline-item-container-even {
    flex-direction: row-reverse;
}

.timeline-item-container-odd {
    flex-direction: row;
}


.item-logo {
    flex: 8;
}

.item-timeline-vector {
    display: flex;
    flex: 1;
    min-width: 35px;
}



.item-content {
    flex: 8;
}

.info-box {
    width: 100%;
    border-radius: 10px;
    overflow-x: hidden;
    margin-bottom: 50px;
    background-color: #f0f0f0;
}



.job-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    margin-left: 25px;
}

.job-title {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 1.2vw;
    background-color: #7593b9;
}

.job-name {
    display: flex;
    padding-left: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}

.job-name span{
    margin-right: 30px;
}

.job-roles {
    font-size: 0.9vw;
    margin-right: 50px;
    margin-bottom: 20px;
}
.job-roles li{
    margin-bottom: 15px;
}


.job-footer {
    display: flex;
    padding-left: 15px;
    margin-bottom: 20px;
}

.job-location {
    flex: 1;
    font-weight: bold;
    font-size: 1vw;
}

.job-period {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 0.8vw;
    flex: 1;
}







@media screen and (max-width: 1400px) {
    .timeline-container {
        width: 90%;
    }
    .job-title {
        font-size: 1.6vw;
    }
    .job-location {
        font-size: 1.2vw;
    }
    .job-period {
        font-size: 1vw;
    }
    
}




@media screen and (max-width: 1150px) {
    .timeline-item-container-even, .timeline-item-container-odd {
        flex-direction: row;
    }
    .item-logo {
        display: none;
    }
    .job-title {
        font-size: 1.8vw;
    }    
    .job-roles {
        font-size: 1.1vw;
    }
    .job-location {
        font-size: 1.2vw;
    }
    .job-period {
        font-size: 1vw;
    }
    
    
}

@media screen and (max-width: 800px) {

    .job-title {
        font-size: 2.4vw;
    }
    .job-name {
        font-size: 1.8vw;
    }    
    .job-roles {
        font-size: 1.6vw;
    }
    .job-location {
        font-size: 1.8vw;
    }
    .job-period {
        font-size: 1.6vw;
    }
}



@media screen and (max-width: 600px) {
    .timeline-container {
        width: 90%;
    }
    .job-title {
        font-size: 3.6vw;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .job-name {
        font-size: 3vw;
    }
    .job-roles {
        font-size: 3vw;
    }
    .job-location {
        font-size: 3vw;
        font-weight:700;
    }
    .job-period {
        font-size: 2vw;
        justify-content: flex-start;
    }
    
}





















/* 
.job-div {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: #f0f0f0;
    color: #333;
    min-width: 350px;
    min-height: 350px;
    margin: 25px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 2px #bebebe;
}


.job-header-div {
    display: flex;
    flex-direction: row;
    height:80px;
    border-bottom: 1px solid #ddd;
}

.job-tittle-div {
    flex:3;
    display: flex;
    align-items: center;
    padding-left: 4%;
    font-size: calc(10px + (28 - 14) * ((100vw - 350px) / (1600 - 300)));
    font-weight: bold;
}

.job-name-div {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2%;
    border-left: 1px solid #ddd;
    font-size: calc(10px + (16 - 14) * ((100vw - 350px) / (950 - 300)));
}

.job-name-div a {
    text-align: center;
    color: cadetblue;
    margin-right: 4%;
}

.job-name-div a:hover {
    color: #c5165f;
}

.job-body-div {
    flex:14;
    min-height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    color: #636674;
    font-size:calc(14px + (18 - 14) * ((100vw - 340px) / (1280 - 300)));
}

.job-body-div ul{
    font-size: calc(10px + (18 - 14) * ((100vw - 340px) / (950 - 300)));
    
}




.job-footer-div {
    display: flex;
    height:50px;
    padding-left:15px;
    background-color: rgba(0, 0, 0, 0.02);
    align-items: center;
    justify-content: center;
    align-content: center;
}

.footer-detail-span {
    font-size: 14px;
}


.divider-div {
    flex:1;
}







@media screen and (max-width: 950px) {
    .job-header-div {
        flex-direction: column;
    }
    .job-tittle-div {
        flex:2;
        padding-left: 0px;
        font-weight: bold;
        justify-content: center;
        align-items: flex-end;
        font-size: calc(16px + (24 - 14) * ((100vw - 340px) / (1280 - 300)));
    }
    .job-name-div {
        padding-left: 0px;
        font-size: calc(12px + (16 - 14) * ((100vw - 350px) / (950 - 300)));
        justify-content: center;
        align-items: flex-start;
    }
    .job-body-div{
        font-size: calc(10px + (18 - 14) * ((100vw - 340px) / (950 - 300)));
      
    }
    
  }
   */
  
  
  