




.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #c5c9cc;
}

.projects-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.project-div {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 300px;
    height: 350px;
    margin: 30px;
    background-color: #c5c9cc;
}

.project-div:hover .project-body-div {
    transform: rotateY(180deg);
}


.project-body-div {
    flex:12;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.project-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.project-info-div h4{
    color: #cc8673;
    margin-bottom: 0px;
}


.project-skills-div {
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    border-radius: 10px;
    color: white;
    transform: rotateY(180deg);
}

.project-info-div, .project-skills-div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .project-logo-div {
      margin-top: 10px;
      width: 100%;
      height: 75px;
  }

  .project-description-div {
    width: 90%;
    font-size: 15px;
}


  .project-footer-div {
        flex:2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .project-footer-div a:visited {
        color: #cc8673;
    }

    .project-footer-div a:link {
        color: #cc8673;
    }



    .link-button-div {
        display: flex;
        flex-direction: row;    
        height: 50%;
        width: 23%;
        border: 1px solid #cc8673;
        margin: 15px;
        border-radius: 5px;
        overflow: hidden;
        text-decoration: none;
    }
    
    .link-button-div:hover {
        background-color: #64646d;
    }
    
    .link-button-icon {
        display: flex;
        flex: 3;
        justify-content: center;
        align-items: center;
    }
    
    .link-button-text {
        size: 10px;
        display: flex;
        flex: 5;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }















.project-description, .project-technologies {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.project-description {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #949494;
    color: black;
}

.project-title-divs {
    display: flex;
    flex:1;
    justify-content: center;
    border-bottom: 2px solid #949494;
    color: black;
    background-color: coral;
}

.project-details.div {
    display: flex;
    flex:4;
    color: #f30000;
    background-color: cornflowerblue;
}




.project-technologies {
    display: flex;
    flex-direction: row;
    background-color: rgba(245, 245, 245, 0.9);
    color: white;
    transform: rotateY(180deg);
}

