:root {
    --border-width: 3px;
    --corner-size: 50px;
    --border-color: #617e79;
}
      
.my-badge {
    display: flex;
    height:80%;
    width: 90%;
    flex-direction:column;
    position:relative;
}
  
.my-badge::before,
.my-badge::after {
    content: "";
    position: absolute;
    width:var(--corner-size);
    height:var(--corner-size);
    border:var(--border-width) solid var(--border-color);
}

.my-badge::before {
    left: 0;
    top: 0;
    border-bottom:none;
    border-right:none;
}

.my-badge::after {
    bottom: 0;
    right: 0;
    border-left:none;
    border-top:none;
}



.my-badge {
    transition:background-color 0.3s ease-in-out;
}

.my-badge:hover {
    background:rgba(0, 0, 0, 0.5)!important;
}

.my-badge::before,
.my-badge::after {
    box-sizing: border-box;
    transition:width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.my-badge:hover::before,
.my-badge:hover::after {
    width:100%;
    height:100%;
}

.my-name {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.my-name h2 {
    font-family: 'Georgia', Times, serif ;
    font-weight: bold;
}


.my-title {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

.my-title p {
    font-family: 'Raleway', sans-serif;
    margin: 0;
  }




  @media screen and (max-width: 600px) {
    .my-badge {
        flex-direction: row;
    }
    .my-name {
        flex: 2;
        font-size: 70%;
    }    
    .my-title {
        flex: 3;
        font-size: 12px;
      }
  }