


.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 390px;
    width: 100%;
    margin-bottom: 100px;
}





.school-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.school-container h2{
    font-weight: bold;
    color: #609374;
    background-color: #deb887;
    border-radius: 5px;
    font-size: clamp(12px, 1.1rem, 19px);
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.school-container h4{
    margin-left: 5px;
    margin-top: 0px;
    font-weight: bold;
}

.school-footer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 5px;
}




@media screen and (max-width: 600px) {
    .school-container h4{
        font-size: 12px;
    }
    
  }
  
  
  